div.h15-header{background-color:#e0eff6;border:solid 1px #599cd4;margin:0px auto;padding:0.15em 0em 0.2em;text-align:right;width:932px;*padding:0.25em 0em}div.h15-header-inner{margin:0.5em 0px 0.25em;padding-right:0.5em;padding-left:0px}div.h15-header,div.h15-header a{color:#00629d}span.h15-pipe{margin:0px 0.5em}span.h15-switch,strong.h15-country{margin-left:1em}span.h15-switch a,span.h15-switch a:visited{text-decoration:none}span.h15-switch a:hover,span.h15-switch a:active{text-decoration:underline}a#idPPScarab,a#idPPScarab:visited,a#idPPScarab span#idSIT,a#idPPScarab:visited span#idSIT{text-decoration:none}a#idPPScarab:hover span#idSIT,a#idPPScarab:active span#idSIT{text-decoration:underline}a#idPPScarab:focus span#idSIT,a#idPPScarab:selected span#idSIT{text-decoration:underline}img#idSI{border-width:0px;margin-left:0.25em;vertical-align:middle}img#idSO{margin-left:0.25em;vertical-align:middle}
/*
     FILE ARCHIVED ON 10:43:17 Oct 29, 2009 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:54:22 Apr 05, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 80.228
  exclusion.robots: 0.264
  exclusion.robots.policy: 0.25
  cdx.remote: 0.09
  esindex: 0.012
  LoadShardBlock: 51.931 (3)
  PetaboxLoader3.datanode: 45.2 (4)
  load_resource: 173.532
  PetaboxLoader3.resolve: 146.004
*/
